<!DOCTYPE html>
<html lang="en">
<head>
  <title>CSS Template</title>
  <meta charset="utf-8">
  <link href="style.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <header>
    <h2>Header</h2>
    <div class="box-red">absolute</div>
    <div class="box-green">fixed</div>
  </header>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Page1</a></li>
      <li><a href="#">page2</a></li>
      <li><a href="#">page3</a></li>
      <li><a href="#">page4</a></li>
      <div class="floating-r">
        <li><a href="#">Informations</a></li>
        <li><a href="#">Contact</a></li>
      </div>
    </ul>
  </nav>

  <section class="main">
    <menu>
      <h2> Menu </h2>
      <ul>
        <li><a href="#">London</a></li>
        <li><a href="#">Paris</a></li>
        <li><a href="#">Tokyo</a></li>
      </ul>
      <div class="bandeau">
        <img  src="bandeau.jpg"/>
      </div>
    </menu><!--
      Ce commentaire est nécessaire pour éviter ajout d'espace. Sinon pas possible de faire 30% + 70%;
    --><article>

    <br><br>

    <center>
          <div class="card">
            <div class="thumb">
              <img src="card.jpg"/>
            </div>
            <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitanity in the  United Kingdom, with a metropolitan area of ov two</p>
          </div>

          <div class="card">
            <div class="thumb">
              <img src="card.jpg"/>
            </div>
            <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitanity in the  United Kingdom, with a metropolitan area of ov two</p>
          </div>

          <div class="card">
            <div class="thumb">
              <img src="card.jpg"/>
            </div>
            <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitanity in the  United Kingdom, with a metropolitan area of ov two</p>
          </div>
      </center>

      <br><br>

      <h1>Monster</h1>

      <p>
        <img src="monter-png.png" style="width: 45px; float: left;" />Nightmare est un festival de musique électronique se tenant à Rotterdam, aux Pays-Bas.<br>
        Nightmare est un groupe japonais de visual kei.<br>
        Nightmare est un groupe français de heavy metal.<br>
        Nightmare est un album du groupe de metal américain Avenged Sevenfold.<br>

        Nightmare est une chanson du groupe de metal américain Avenged Sevenfold.<br>
        Nightmare est un morceau du compositeur de musique électronique italien Brainbug.<br>
        NGHTMRE est un DJ et producteur américain de musique électronique.
      </p>


      <div class="large-thumb">
        <div class="thumb">
          <img src="card.jpg"/>
        </div>
        <div>
          <p>
            Nightmare est une chanson du groupe de metal américain Avenged Sevenfold.<br>
            Nightmare est un morceau du compositeur de musique électronique italien Brainbug.<br>
            NGHTMRE est un DJ et producteur américain de musique électronique.
            Nightmare est une chanson du groupe de metal américain Avenged Sevenfold.<br>
            Nightmare est un morceau du compositeur de musique électronique italien Brainbug.<br>
            NGHTMRE est un DJ et producteur américain de musique électronique.Nightmare est une chanson du groupe de metal américain Avenged Sevenfold.<br>
            Nightmare est un morceau du compositeur de musique électronique italien Brainbug.<br>
            NGHTMRE est un DJ et producteur américain de musique électronique.
          </p>
        </div>
     </div>



      <h1>London</h1>
      <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
      <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
      <h1>London</h1>
      <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
      <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
      <h1>London</h1>
      <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
      <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
      <h1>London</h1>
      <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
      <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
      <h1>London</h1>
      <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
      <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
      <h1>London</h1>
      <p>London is the capital city of England. It is the most populous city in the  United Kingdom, with a metropolitan area of over 13 million inhabitants.</p>
      <p>Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
      


    </article>

  </section>

  <footer>
    <p>Footer</p>
  </footer>

</body>
</html>
