
<div class="box">
  <img src="https://s.cdpn.io/profiles/user/2928650/80.jpg?1573511578"/><!--
  --><p> 
    Description de l'image <br>
    Description de l'image <br>
  </p>
</div>

<div class="box">
  <img src="https://s.cdpn.io/profiles/user/2928650/80.jpg?1573511578"/><!--
  --><p> 
    Description de l'image <br>
    Description de l'image <br>
  </p>
</div>


//////////////////////////////////////////////////////////////////////////////////////////

.box{
  background-color: grey;
  width: 100%;
  max-width: 500px;
  margin: 10px;
  display: inline-block;
}

.box p, .box img{
  display: inline-block;
  vertical-align: top;
  width: 100%;
}



@media screen and (max-width: 400px){
  .card p, .card img{
    display: block;
  }
  .card{
    width: 40%;
  }
}
